body {
  margin: 0;
  font-family: Georgia, serif;
  background: linear-gradient(to top, #ffcc66, #fff5e6);
  text-align: center;
}
.wrap {
  padding: 50px;
}
h1 {
  color: #b35900;
  font-size: 2.2em;
}
p {
  color: #020202;
  font-size: 1.8em;
}
img {
  width: auto;
  border-radius: 0;
}
